// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  white;
$value-color:       rgba(255, 255, 255, 1);

$title-color:       rgba(0, 0, 0, .9);
$label-color:       rgba(255, 255, 255, 1);
$moreinfo-color:    rgba(255, 255, 255, 0.85);
$updated-at-color:    rgba(0, 0, 0, 0.5);

// ----------------------------------------------------------------------------
// Widget-pull-requests styles
// ----------------------------------------------------------------------------
.widget-pullrequests {

  background-color: $background-color;
  vertical-align: top;

  img.background {
    height: 100% !important;
    position: absolute;
    right: 30px;
    top: 20px;
    opacity: 0.15;
  }

  .title {
    color: $title-color;
    font-size: 2.0em;
    position: absolute;
    text-align: left;
    top:0px;
    left: 5px;
  }

  .total {
    color: $title-color;
    font-size: 2.0em;
    position: absolute;
    text-align: right;
    font-weight: 600;
    top:0px;
    right: 15px;
  }

  span {
    font-size: 12px;
  }

  .pull-title {
    font-size: 0.8em;
    font-weight: 500;
  }

  .pull_info {
    line-height: 60%;
    color: $moreinfo-color;
  }

  ol, ul {
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: #667FAD;
  }

  .list {
    margin-top: 35px;
    list-style: none;
  }

  .pull {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: $updated-at-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
