// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  gray;
$value-color:       rgba(255, 255, 255, 0.7);

$pass-color:        #8fb347;
$fail-color:        #ad3b0e;
$else-color:        #9CB4F4;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.9);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-pull-requests styles
// ----------------------------------------------------------------------------
.widget-pullrequests {

  background-color: teal;
  vertical-align: top;

  .title {
    color: $title-color;
    font-size: 2.0em;
    position: absolute;
    text-align: left;
    top:0px;
    left: 5px;
  }

  .total {
    color: $title-color;
    font-size: 2.0em;
    position: absolute;
    text-align: right;
    top:0px;
    right: 15px;
  }

  span {
    font-size: 12px;
  }

  .pull-title {
    font-size: 0.8em;
    font-weight: 500;
  }

  .pull_info {
    line-height: 60%;
    color: $moreinfo-color;
  }

  ol, ul {
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 15px;
  }

  .list {
    margin-top: 35px;
    list-style: none;
  }

  .pull {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
